<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tylersand.workoutapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="xsquats.xml.xsquats"
            android:label="@string/title_activity_xsquats"
            android:parentActivityName=".MainScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tylersand.workoutapp.MainScreen" />
        </activity>
        <activity
            android:name="back.xml.back"
            android:label="@string/title_activity_back"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="biceps.xml.biceps"
            android:label="@string/title_activity_biceps"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="bicycles.xml.bicycles"
            android:label="@string/title_activity_bicycles"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="burpees.xml.burpees"
            android:label="@string/title_activity_burpees"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="calfraises.xml.calfraises"
            android:label="@string/title_activity_calfraises"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="calves.xml.calves"
            android:label="@string/title_activity_calves"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="crunches.xml.crunches"
            android:label="@string/title_activity_crunches"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="diamondpushups.xml.diamondpushups"
            android:label="@string/title_activity_diamondpushups"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="flutterkicks.xml.flutterkicks"
            android:label="@string/title_activity_flutterkicks"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="gluteusmuscles.xml.gluteusmuscles"
            android:label="@string/title_activity_gluteusmuscles"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="highknees.xml.highknees"
            android:label="@string/title_activity_highknees"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="hyperextensions.xml.hyperextensions"
            android:label="@string/title_activity_hyperextensions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="jumpingjacks.xml.jumpingjacks"
            android:label="@string/title_activity_jumpingjacks"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="jumpkneetucks.xml.jumpkneetucks"
            android:label="@string/title_activity_jumpkneetucks"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="jumpsquats.xml.jumpsquats"
            android:label="@string/title_activity_jumpsquats"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="layzboy.xml.layzboy"
            android:label="@string/title_activity_layzboy"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="lunges.xml.lunges"
            android:label="@string/title_activity_lunges"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="oneleggedsquats.xml.oneleggedsquats"
            android:label="@string/title_activity_oneleggedsquats"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="pectorals.xml.pectorals"
            android:label="@string/title_activity_pectorals"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="planks.xml.planks"
            android:label="@string/title_activity_planks"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="pushups.xml.pushups"
            android:label="@string/title_activity_pushups"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="prisonsquats.xml.prisonsquats"
            android:label="@string/title_activity_prisonsquats"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="quads.xml.quads"
            android:label="@string/title_activity_quads"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="regularpushups.xml.regularpushups"
            android:label="@string/title_activity_regularpushups"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="russiantwists.xml.russiantwists"
            android:label="@string/title_activity_russiantwists"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
